<template>
    <div class="dropdown-container dropdown" :class="{open:visible}" v-clickoutside="handleClose">
        <a @click="toggle">
            <i :class="item.icon"></i><span>{{ !!item.msglist?item.msglist.length:0}}</span>
            <div class="notification-ring"></div>
        </a>
        <div class="top-dropdown-menu dropdown-menu">
            <i class="dropdown-arr"></i>
            <div class="header clearfix">
                <strong>{{item.title}}</strong>
                <a v-if="!!item.actions" v-for="action in item.actions" :href="action.link" :class="action.class">{{action.title}}</a>
            </div>
            <div class="msg-list">
                <a  v-for="msg in item.msglist" :key="msg.id" class="clearfix" >
                    <div class="img-area">
                        <img v-if="!!msg.logo" :src="msg.logo">
                        <i v-else class="fa-3x" :class="item.icon"></i>
                    </div>
                    <div class="msg-area">
                        <div>{{msg.content}}</div>
                        <span> {{dateDiff(msg.time)}} ago </span>
                    </div>
                </a>
            </div>
            <a v-if="item.link" :href="item.link.url">{{item.link.title}}</a>
        </div>
    </div>
</template>

<script>
import clickoutside from '@/directives/clickoutside';

export default {
  name:'dropdownMessage',
  props:{data:{type:Object, default: () => ({}),}},
  data(){
      return {
          visible:false,
          item:this.data
      };
  },
  directives:{
      clickoutside
  },
  methods:{
      toggle(vm){
          this.visible=!this.visible;
      },
      handleClose(e){
          this.visible=false;
      },
      dateDiff(date){
        var _targetDate=new Date(date);
        if(isNaN(_targetDate)){
            return '--';
        }
        _targetDate=_targetDate.getTime();
        var _currentDate=new Date().getTime(),timeSpan={};
        var totalms=_currentDate-_targetDate;
        if(isNaN(totalms) || totalms<=0){
            return "--";
         }
        timeSpan.Days=parseInt(totalms/1000/60/60/24);
        timeSpan.TotalHours=parseInt(totalms/1000/60/60);
        timeSpan.TotalMinutes=parseInt(totalms/1000/60);
        timeSpan.TotalSeconds=parseInt(totalms/1000);
        if(timeSpan.Days!=0){
            return Math.abs(timeSpan.Days)+" days";
        }else if(timeSpan.TotalHours!=0){
            return Math.abs(timeSpan.TotalHours)+" hours";
        }else if(timeSpan.TotalMinutes!=0){
            return Math.abs(timeSpan.TotalMinutes)+" min";
        }else if(timeSpan.TotalSeconds!=0){
            return Math.abs(timeSpan.TotalSeconds)+" s";
        }else{
            return "--";
        }
      }
  }
}
</script>
