<template>
    <footer class="al-footer clearfix">
        <div class="al-footer-right">Created with <i class="ion-heart"></i></div>
        <div class="al-footer-main clearfix">
        <div class="al-copy">© <a href="http://akveo.com" target="_blank">sharp-summit</a> 2017</div>
        <ul class="al-share clearfix">
            <li><a href="https://www.facebook.com/akveo" target="_blank"><i class="socicon socicon-facebook"></i></a></li>
            <li><a href="https://twitter.com/akveo_inc" target="_blank"><i class="socicon socicon-twitter"></i></a></li>
            <li><a href="mailto:contact@akveo.com"><i class="socicon socicon-google"></i></a></li>
            <li><a href="https://github.com/akveo" target="_blank"><i class="socicon socicon-github"></i></a></li>
        </ul>
        </div>
    </footer>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only 
<style scoped>

</style>-->