<template>
  <aside class="al-sidebar" >
    <!-- slimscroll="{height: '{{menuHeight}}px'}" slimscroll-watch="menuHeight"  -->
  <ul class="al-sidebar-list" >
    <li v-for="item in menuItems" class="al-sidebar-list-item" :class="{'with-sub-menu': item.subMenu,'ba-sidebar-item-expanded':item.expanded}" >
      <router-link v-if="!item.subMenu || !item.subMenu.length" :to="item.href" class="al-sidebar-list-link">
        <i :class="item.icon"></i><span>{{ item.title }}</span>
      </router-link>
      <a v-else class="al-sidebar-list-link" @click="togglesubItem(item)">
        <i :class="item.icon"></i><span>{{ item.title }}</span>
        <b v-if="item.subMenu" class="fa fa-angle-down" ></b>
      </a>
      <ul class="al-sidebar-sublist" >
          <li v-for="subitem in item.subMenu" :key="subitem.id" :class="{'with-sub-menu': subitem.subMenu}" class="ba-sidebar-sublist-item list-complete-item" >
            <router-link v-if="subitem.subMenu" :to="subitem.href" class="al-sidebar-list-link subitem-submenu-link">
              <span>{{ subitem.title }}</span>
              <b v-if="subitem.subMenu && !!subitem.subMenu.length" class="fa" :class="{'fa-angle-up': subitem.expanded,'fa-angle-down': !subitem.expanded}"></b>
            </router-link>
          </li>
      </ul>
    </li>
  </ul>
  <!-- <div class="sidebar-hover-elem" ng-style="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
       ng-class="{'show-hover-elem': showHoverElem }"></div> -->
</aside>

</template>

<script>
export default {
  name: "sideBar",
  data() {
    return {
      menuItems: []
    };
  },
  beforeMount() {
    this.$axios.get("/getMenuInfo").then(res => {
      if (res.status == 200) {
        this.menuItems = res.data;
      }
    });
  },
  methods: {
    togglesubItem(vm) {
      this.$set(vm, "expanded", !vm.expanded);
    }
  }
};
</script>
