<template>
    <div class="page-top clearfix" scroll-position="scrolled" max-height="50" >
    <a href="#/dashboard" class="al-logo clearfix"><span>Blur</span>Admin</a>
    <a class="collapse-menu-link" @click="toggleMenuCollapsed"><i class="fa fa-bars"></i></a>

    <div class="search">
        <i class="fa fa-lg fa-search" ></i>
        <input id="searchInput" type="text" placeholder="Search for...">
    </div>

    <div class="user-profile clearfix" >
        <w-userprofile v-if="!!profileInfo" :profiles="profileInfo" ></w-userprofile>
        <ul class="al-msg-center clearfix">
            <li>
                <w-dropdownmsg v-for="item in msgItems" :data="item"></w-dropdownmsg>
            </li>
        </ul>
    </div>
    </div>
</template>

<script>
import dropdownmsg from '@/components/widgets/dropdownMessage';
import userprofile from '@/components/widgets/userProfile';

export default {
  name: "TopBar",
  data() {
    return {
      showProfile:false,
      msgItems:[],
      profileInfo:null,
    };

  },
  components:{
      'w-userprofile':userprofile,
      'w-dropdownmsg':dropdownmsg
  },
  mounted(){
      this.$axios.get('/getWidgetsData').then((res)=>{
          if(res.status==200 && !!res.data){
              this.msgItems=res.data.MsgInfo;
              this.profileInfo=res.data.ProfileInfo;
          }
      });
  },
  methods: {
      handleClick(e){
          this.showProfile=!this.showProfile;
      },
      handleClose(e){
          this.showProfile=false;
      },
      toggleMenuCollapsed(){
          this.$emit('menuCollapsed','toggle');
      }
  }
};
</script>