<template>
    <div class="al-user-profile dropdown" :class="{open:visiable}" v-clickoutside="toggleClose" >
        <a class="profile-toggle-link" @click="toggle" :title="profile.name" >
            <img :src="profile.avatar || '/src/assets/logo.png'" >
        </a>
        <ul  class="top-dropdown-menu profile-dropdown dropdown-menu" >
            <li><i class="dropdown-arr"></i></li>
            <li v-for="action in profile.actions">
                <a :href="action.url" :class="action.class"><i :class="action.icon"></i>{{action.title}}</a>
            </li>
        </ul>
    </div>
</template>
<script>
import clickoutside from '@/directives/clickoutside';

export default {
    name:"userProfile",
    props:{
        profiles:Object
    },
    data(){
        return {
            visiable:false,
            profile:this.profiles
        };
    },
    directives:{
      clickoutside
    },
    methods:{
        toggle(){
           this.visiable=!this.visiable; 
        },
        toggleClose(){
            this.visiable=false;
        }
    }
}
</script>

