<template>
<div>
  <h1>It's Mail.</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, unde.</p>
</div>
</template>

<script>
export default {
  name:'Mail',
  data(){
    return {

    }
  }
}
</script>

