<template>
  <h1>It's TimeLine.</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur officiis quam placeat facilis maxime minus.</p>
</template>

<script>
export default {
  name:'TimeLine',
  data(){
    return {

    }
  }
}
</script>

