<template>
  <main id="app" :class="{'menu-collapsed':isCollapsed}" >
    <w-topbar @menuCollapsed="watchmenuCollapsed"></w-topbar>
    <w-sidebar></w-sidebar>
    <div class="al-main">
      <div class="al-content">
         <router-view></router-view>
      </div>
    </div>
    <w-footer></w-footer>
  </main>
</template>

<script>
import topbar from '@/components/widgets/topBar';
import sidebar from '@/components/widgets/sideBar';
import footer from '@/components/widgets/footer';
export default {
  name: 'app',
  data(){
    return {
      isCollapsed:false
    }
  },
  components: {
    'w-topbar':topbar,
    'w-sidebar':sidebar,
    'w-footer':footer
  },
  methods:{
    watchmenuCollapsed(){
      this.isCollapsed=!this.isCollapsed;
    }
  }
}
</script>


